n8n-workflow-1-send-form.json
{
  "name": "SAL Form - Send to AE (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sal-form-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Trigger SAL Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "sal-form-trigger"
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/contacts/{{ $json.body[0].objectId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "firstname,lastname,email,hubspot_owner_id,last_meeting_record_id,associatedcompanyid"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-contact",
      "name": "HTTP - Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/meetings/{{ $json.properties.last_meeting_record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "hs_meeting_title,hs_attendee_owner_ids,hs_guest_emails,hubspot_owner_id,hs_meeting_start_time"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-meeting",
      "name": "HTTP - Get Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        704,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/companies/{{ $node[\"HTTP - Get Contact\"].json.properties.associatedcompanyid }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "name,domain,hubspot_owner_id,lead_source"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-company",
      "name": "HTTP - Get Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/owners/{{ $node[\"HTTP - Get Meeting\"].json.properties.hubspot_owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "http-get-ae-owner",
      "name": "HTTP - Get AE Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1136,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/owners/{{ $node[\"HTTP - Get Company\"].json.properties.hubspot_owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "http-get-sdr-owner",
      "name": "HTTP - Get SDR Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $node[\"HTTP - Get Contact\"].json;\nconst meeting = $node[\"HTTP - Get Meeting\"].json;\nconst company = $node[\"HTTP - Get Company\"].json;\nconst aeOwner = $node[\"HTTP - Get AE Owner\"].json;\nconst sdrOwner = $input.first().json;\n\nlet meetingDate = \"\";\nif (meeting.properties.hs_meeting_start_time) {\n  try {\n    const date = new Date(meeting.properties.hs_meeting_start_time);\n    meetingDate = date.toLocaleDateString(\"en-US\", {\n      weekday: \"long\",\n      year: \"numeric\",\n      month: \"long\",\n      day: \"numeric\",\n      hour: \"2-digit\",\n      minute: \"2-digit\"\n    });\n  } catch (e) {\n    meetingDate = meeting.properties.hs_meeting_start_time;\n  }\n}\n\nconst contactName = `${contact.properties.firstname || \"\"} ${contact.properties.lastname || \"\"}`.trim() || \"Unknown\";\n\nconst aeName = aeOwner ? `${aeOwner.firstName || \"\"} ${aeOwner.lastName || \"\"}`.trim() : \"Unknown AE\";\nconst aeEmail = aeOwner ? aeOwner.email : \"\";\n\nconst sdrName = sdrOwner ? `${sdrOwner.firstName || \"\"} ${sdrOwner.lastName || \"\"}`.trim() : \"Unknown SDR\";\nconst sdrEmail = sdrOwner ? sdrOwner.email : \"\";\n\nconst formData = {\n  contactId: contact.id,\n  contactName: contactName,\n  contactEmail: contact.properties.email || \"\",\n  companyId: company.id,\n  companyName: company.properties.name || \"Unknown\",\n  companyDomain: company.properties.domain || \"\",\n  source: company.properties.lead_source || \"\",\n  meetingId: meeting.id,\n  meetingTitle: meeting.properties.hs_meeting_title || \"\",\n  meetingDate: meetingDate,\n  aeName: aeName,\n  aeEmail: aeEmail,\n  aeOwnerId: aeOwner ? aeOwner.id : \"\",\n  sdrName: sdrName,\n  sdrEmail: sdrEmail,\n  sdrOwnerId: sdrOwner ? sdrOwner.id : \"\"\n};\n\nconst token = Buffer.from(JSON.stringify(formData)).toString(\"base64\");\nconst formUrl = `https://sal-qualification-form.vercel.app?token=${token}`;\n\nreturn {\n  json: {\n    ...formData,\n    token: token,\n    formUrl: formUrl\n  }\n};"
      },
      "id": "code-prepare-form-data",
      "name": "Code - Prepare Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sdrEmail }}",
        "subject": "=SAL Qualification Form - {{ $json.contactName }} at {{ $json.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #333; margin-bottom: 20px;\">SAL Qualification Form</h2>\n  <p style=\"color: #555; font-size: 16px;\">Hi {{ $json.aeName }},</p>\n  <p style=\"color: #555; font-size: 16px;\">Please complete the SAL qualification form for your recent meeting:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background: #f9f9f9; border-radius: 8px;\">\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.contactName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.companyName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Meeting:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.meetingTitle }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px;\"><strong>Date:</strong></td>\n      <td style=\"padding: 12px 16px;\">{{ $json.meetingDate }}</td>\n    </tr>\n  </table>\n  <p style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $json.formUrl }}\" style=\"background-color: #4CAF50; color: white; padding: 14px 28px; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: bold; display: inline-block;\">Complete SAL Form</a>\n  </p>\n  <p style=\"color: #999; font-size: 12px; margin-top: 30px; text-align: center;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai, galia.n@reindeer.ai"
        }
      },
      "id": "gmail-send-to-ae",
      "name": "Gmail - Send to AE",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        304
      ],
      "webhookId": "0a50ebdf-d916-4e1c-835d-f86ac4949987",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Form sent to AE\", aeEmail: $json.aeEmail, aeName: $json.aeName }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2016,
        304
      ]
    }
  ],
  "connections": {
    "Webhook - Trigger SAL Form": {
      "main": [
        [
          {
            "node": "HTTP - Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Contact": {
      "main": [
        [
          {
            "node": "HTTP - Get Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Meeting": {
      "main": [
        [
          {
            "node": "HTTP - Get Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Company": {
      "main": [
        [
          {
            "node": "HTTP - Get AE Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get AE Owner": {
      "main": [
        [
          {
            "node": "HTTP - Get SDR Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get SDR Owner": {
      "main": [
        [
          {
            "node": "Code - Prepare Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Form Data": {
      "main": [
        [
          {
            "node": "Gmail - Send to AE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send to AE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
