n8n-workflow-watchdog-hourly-coordinator.json
{
  "name": "Reindeer AI Health Check: Hourly Coordinator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "schedule",
      "name": "Schedule - Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "watchdog-hourly-run",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "Webhook - Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "watchdog-hourly-run"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const run_id = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => { const r = Math.random() * 16 | 0; return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16); });\nreturn [{ json: { run_id } }];"
      },
      "id": "generate-run-id",
      "name": "Code - Generate Run ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-service-v39p.onrender.com/webhook/watchdog-meeting-status-mismatch",
        "options": { "timeout": 60000 }
      },
      "id": "check-meeting-status",
      "name": "HTTP - Check Meeting Status Mismatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-service-v39p.onrender.com/webhook/watchdog-lifecycle-pipeline-mismatch",
        "options": { "timeout": 60000 }
      },
      "id": "check-lifecycle-pipeline",
      "name": "HTTP - Check Lifecycle Pipeline Mismatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 500]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2,
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge - Collect Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all().map(item => item.json);\nconst run_id = $node[\"Code - Generate Run ID\"].json.run_id;\n\n// Count by severity\nconst failures = results.filter(r => r.status === 'fail');\nconst critical = failures.filter(r => r.severity === 'critical').length;\nconst high = failures.filter(r => r.severity === 'high').length;\nconst medium = failures.filter(r => r.severity === 'medium').length;\nconst passed = results.filter(r => r.status === 'pass').length;\n\n// Build compact Slack message\nconst summaryParts = [];\nif (critical > 0) summaryParts.push(`🔴 ${critical} Critical`);\nif (high > 0) summaryParts.push(`🟠 ${high} High`);\nif (medium > 0) summaryParts.push(`🟡 ${medium} Medium`);\nsummaryParts.push(`✅ ${passed} Passed`);\n\nconst dashboardUrl = `https://sal-qualification-form.vercel.app/watchdog/run/${run_id}`;\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: '🔍 HubSpot Watchdog — Hourly Report' }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: summaryParts.join('  |  ') }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `👉 <${dashboardUrl}|View full report>` }\n  }\n];\n\n// Build results for Supabase — include run_id and run_type\nconst supabaseResults = results.map(r => ({\n  check_id: r.check_id,\n  run_id: run_id,\n  run_type: 'hourly',\n  status: r.status,\n  severity: r.severity,\n  violation_count: r.count || 0,\n  violations: r.items || [],\n  run_at: new Date().toISOString()\n}));\n\nreturn [{\n  json: {\n    hasFailures: failures.length > 0,\n    slackPayload: {\n      text: `Watchdog Hourly: ${failures.length} checks failed`,\n      blocks: blocks\n    },\n    supabaseResults: supabaseResults\n  }\n}];"
      },
      "id": "format-digest",
      "name": "Code - Format Slack Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oirehnrecwzcvxusdbku.supabase.co/rest/v1/watchdog_results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmVobnJlY3d6Y3Z4dXNkYmt1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ5NjMxNCwiZXhwIjoyMDg3MDcyMzE0fQ.c9ZSz88tiYA423J9dudJbf7uUWaDNNDUNlNmFYoqqlo" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmVobnJlY3d6Y3Z4dXNkYmt1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ5NjMxNCwiZXhwIjoyMDg3MDcyMzE0fQ.c9ZSz88tiYA423J9dudJbf7uUWaDNNDUNlNmFYoqqlo" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.supabaseResults) }}",
        "options": {}
      },
      "id": "save-supabase",
      "name": "HTTP - Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "has-failures",
            "leftValue": "={{ $json.hasFailures }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-failures",
      "name": "IF - Has Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "HTTP - Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule - Hourly": {
      "main": [[
        { "node": "Code - Generate Run ID", "type": "main", "index": 0 }
      ]]
    },
    "Webhook - Manual Trigger": {
      "main": [[
        { "node": "Code - Generate Run ID", "type": "main", "index": 0 }
      ]]
    },
    "Code - Generate Run ID": {
      "main": [[
        { "node": "HTTP - Check Meeting Status Mismatch", "type": "main", "index": 0 },
        { "node": "HTTP - Check Lifecycle Pipeline Mismatch", "type": "main", "index": 0 }
      ]]
    },
    "HTTP - Check Meeting Status Mismatch": {
      "main": [[{ "node": "Merge - Collect Results", "type": "main", "index": 0 }]]
    },
    "HTTP - Check Lifecycle Pipeline Mismatch": {
      "main": [[{ "node": "Merge - Collect Results", "type": "main", "index": 1 }]]
    },
    "Merge - Collect Results": {
      "main": [[{ "node": "Code - Format Slack Digest", "type": "main", "index": 0 }]]
    },
    "Code - Format Slack Digest": {
      "main": [[
        { "node": "HTTP - Save to Supabase", "type": "main", "index": 0 },
        { "node": "IF - Has Failures", "type": "main", "index": 0 }
      ]]
    },
    "IF - Has Failures": {
      "main": [
        [{ "node": "HTTP - Send Slack Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
