n8n-workflow-watchdog-missing-company-source.json
{
  "name": "Reindeer AI Health Check: Missing Company Source",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "watchdog-missing-company-source",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "watchdog-missing-company-source"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubspot.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"motion\", \"operator\": \"NOT_HAS_PROPERTY\" }\n      ]\n    },\n    {\n      \"filters\": [\n        { \"propertyName\": \"lead_source_category\", \"operator\": \"NOT_HAS_PROPERTY\" }\n      ]\n    },\n    {\n      \"filters\": [\n        { \"propertyName\": \"lead_source\", \"operator\": \"NOT_HAS_PROPERTY\" }\n      ]\n    }\n  ],\n  \"properties\": [\"name\", \"domain\", \"motion\", \"lead_source_category\", \"lead_source\", \"hubspot_owner_id\"],\n  \"limit\": 100\n}",
        "options": {}
      },
      "id": "hubspot-search",
      "name": "HTTP - Search Missing Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "hubspotAppToken": { "id": "Ic8seJpUK2XUSDQY", "name": "Reindeer" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const searchResults = $('HTTP - Search Missing Source').first().json;\nconst companies = searchResults.results || [];\n\nconst items = companies.map(c => {\n  const props = c.properties || {};\n  const missing = [];\n  if (!props.motion) missing.push('motion');\n  if (!props.lead_source_category) missing.push('lead_source_category');\n  if (!props.lead_source) missing.push('lead_source');\n\n  return {\n    record_type: 'company',\n    record_id: c.id,\n    record_name: props.name || props.domain || '(unnamed)',\n    details: `Missing fields: ${missing.join(', ')}. Domain: ${props.domain || 'none'}.`,\n    hubspot_url: `https://app.hubspot.com/contacts/48653760/company/${c.id}`\n  };\n});\n\nreturn [{\n  json: {\n    check_id: 'missing-company-source',\n    status: items.length > 0 ? 'fail' : 'pass',\n    severity: 'high',\n    count: items.length,\n    items: items\n  }\n}];"
      },
      "id": "business-logic",
      "name": "Code - Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "HTTP - Search Missing Source", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Search Missing Source": {
      "main": [
        [{ "node": "Code - Build Result", "type": "main", "index": 0 }]
      ]
    },
    "Code - Build Result": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
