n8n-workflow-company-source-alert.json
{"updatedAt":"2026-02-05T14:18:39.914Z","createdAt":"2026-02-05T13:46:09.932Z","id":"VE6RJU1xNkOYEAfi","name":"Company Source Alert","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"company-source-check","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook - HubSpot Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"company-source-check"},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.body.objectId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"name,domain,hubspot_owner_id,motion,lead_source_category,lead_source"}]},"options":{}},"id":"http-get-company","name":"HTTP - Get Company","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v3/owners/{{ $json.properties.hubspot_owner_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"http-get-owner","name":"HTTP - Get Owner","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v4/objects/companies/{{ $node[\"HTTP - Get Company\"].json.id }}/associations/contacts","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"http-get-associations","name":"HTTP - Get Contact Associations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const associations = $input.first().json.results || [];\nconst contactIds = associations.map(a => a.toObjectId);\n\nreturn [{\n  json: {\n    contactIds,\n    hasContacts: contactIds.length > 0\n  }\n}];"},"id":"code-extract-ids","name":"Code - Extract Contact IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-contacts","leftValue":"={{ $json.hasContacts }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-contacts","name":"IF - Has Contacts","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,300]},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/contacts/batch/read","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": {{ JSON.stringify($json.contactIds.map(id => ({ id }))) }},\n  \"properties\": [\"firstname\", \"lastname\", \"email\", \"createdate\", \"hubspot_owner_id\", \"motion\", \"lead_source_category\", \"lead_source\", \"hs_analytics_source\", \"hs_analytics_source_data_1\", \"hs_analytics_source_data_2\"]\n}","options":{}},"id":"http-get-contacts","name":"HTTP - Get Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const company = $node[\"HTTP - Get Company\"].json;\nconst owner = $node[\"HTTP - Get Owner\"].json;\nconst contactsResponse = $input.first().json;\nconst contacts = contactsResponse.results || [];\n\nconst companyProps = company.properties;\nconst companyMotion = companyProps.motion || null;\nconst companyCategory = companyProps.lead_source_category || null;\nconst companySource = companyProps.lead_source || null;\n\n// Check for missing fields\nconst missingFields = [];\nif (!companyMotion) missingFields.push('Motion');\nif (!companyCategory) missingFields.push('Lead source category');\nif (!companySource) missingFields.push('Lead source');\n\n// Check for conflicts\nconst conflicts = [];\n\nif (contacts.length > 0) {\n  const firstContact = contacts[0].properties;\n\n  // Company vs first contact conflict\n  if (companyMotion && firstContact.motion && companyMotion !== firstContact.motion) {\n    conflicts.push({\n      field: 'Motion',\n      type: 'company_vs_contact',\n      companyValue: companyMotion,\n      contactValue: firstContact.motion\n    });\n  }\n  if (companyCategory && firstContact.lead_source_category && companyCategory !== firstContact.lead_source_category) {\n    conflicts.push({\n      field: 'Lead source category',\n      type: 'company_vs_contact',\n      companyValue: companyCategory,\n      contactValue: firstContact.lead_source_category\n    });\n  }\n  if (companySource && firstContact.lead_source && companySource !== firstContact.lead_source) {\n    conflicts.push({\n      field: 'Lead source',\n      type: 'company_vs_contact',\n      companyValue: companySource,\n      contactValue: firstContact.lead_source\n    });\n  }\n\n  // Contact vs contact conflict\n  if (contacts.length > 1) {\n    const motionValues = [...new Set(contacts.map(c => c.properties.motion).filter(Boolean))];\n    const categoryValues = [...new Set(contacts.map(c => c.properties.lead_source_category).filter(Boolean))];\n    const sourceValues = [...new Set(contacts.map(c => c.properties.lead_source).filter(Boolean))];\n\n    if (motionValues.length > 1) {\n      conflicts.push({\n        field: 'Motion',\n        type: 'contact_vs_contact',\n        values: motionValues\n      });\n    }\n    if (categoryValues.length > 1) {\n      conflicts.push({\n        field: 'Lead source category',\n        type: 'contact_vs_contact',\n        values: categoryValues\n      });\n    }\n    if (sourceValues.length > 1) {\n      conflicts.push({\n        field: 'Lead source',\n        type: 'contact_vs_contact',\n        values: sourceValues\n      });\n    }\n  }\n}\n\nconst hasIssues = missingFields.length > 0 || conflicts.length > 0;\n\n// Format contacts for display\nconst formattedContacts = contacts.map(c => {\n  const p = c.properties;\n  return {\n    id: c.id,\n    name: `${p.firstname || ''} ${p.lastname || ''}`.trim() || 'Unknown',\n    email: p.email || 'No email',\n    createdDate: p.createdate ? new Date(p.createdate).toLocaleDateString() : 'Unknown',\n    createdBy: p.hubspot_owner_id || 'Unknown',\n    motion: p.motion || '—',\n    leadSourceCategory: p.lead_source_category || '—',\n    leadSource: p.lead_source || '—',\n    originalTrafficSource: p.hs_analytics_source || '—',\n    drillDown1: p.hs_analytics_source_data_1 || '—',\n    drillDown2: p.hs_analytics_source_data_2 || '—',\n    link: `https://app.hubspot.com/contacts/48653760/contact/${c.id}`\n  };\n});\n\nreturn [{\n  json: {\n    hasIssues,\n    missingFields,\n    conflicts,\n    company: {\n      id: company.id,\n      name: companyProps.name,\n      domain: companyProps.domain,\n      motion: companyMotion,\n      leadSourceCategory: companyCategory,\n      leadSource: companySource,\n      link: `https://app.hubspot.com/contacts/48653760/company/${company.id}`\n    },\n    owner: {\n      name: `${owner.firstName || ''} ${owner.lastName || ''}`.trim() || 'Unassigned',\n      email: owner.email || ''\n    },\n    contacts: formattedContacts\n  }\n}];"},"id":"code-detect-issues","name":"Code - Detect Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,200]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const company = $node[\"HTTP - Get Company\"].json;\nconst owner = $node[\"HTTP - Get Owner\"].json;\n\nconst companyProps = company.properties;\nconst companyMotion = companyProps.motion || null;\nconst companyCategory = companyProps.lead_source_category || null;\nconst companySource = companyProps.lead_source || null;\n\n// Check for missing fields\nconst missingFields = [];\nif (!companyMotion) missingFields.push('Motion');\nif (!companyCategory) missingFields.push('Lead source category');\nif (!companySource) missingFields.push('Lead source');\n\nconst hasIssues = missingFields.length > 0;\n\nreturn [{\n  json: {\n    hasIssues,\n    missingFields,\n    conflicts: [],\n    company: {\n      id: company.id,\n      name: companyProps.name,\n      domain: companyProps.domain,\n      motion: companyMotion,\n      leadSourceCategory: companyCategory,\n      leadSource: companySource,\n      link: `https://app.hubspot.com/contacts/48653760/company/${company.id}`\n    },\n    owner: {\n      name: `${owner.firstName || ''} ${owner.lastName || ''}`.trim() || 'Unassigned',\n      email: owner.email || ''\n    },\n    contacts: []\n  }\n}];"},"id":"code-no-contacts","name":"Code - No Contacts Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-paths","name":"Merge - Combine Paths","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-issues","leftValue":"={{ $json.hasIssues }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-issues","name":"IF - Has Issues","type":"n8n-nodes-base.if","typeVersion":2,"position":[2220,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\nconst { company, owner, contacts, missingFields, conflicts } = data;\n\n// Determine alert type\nlet alertType = '';\nif (missingFields.length > 0 && conflicts.length > 0) {\n  alertType = 'Missing Source & Conflict Detected';\n} else if (missingFields.length > 0) {\n  alertType = 'Missing Source';\n} else if (conflicts.length > 0) {\n  alertType = 'Conflict Detected';\n}\n\n// Build issue description\nlet issueText = '';\nif (missingFields.length > 0) {\n  issueText += `*Missing fields:* ${missingFields.join(', ')}\\n`;\n}\nif (conflicts.length > 0) {\n  conflicts.forEach(c => {\n    if (c.type === 'company_vs_contact') {\n      issueText += `*Conflict (${c.field}):* Company has \"${c.companyValue}\" but first contact has \"${c.contactValue}\"\\n`;\n    } else {\n      issueText += `*Conflict (${c.field}):* Contacts have different values: ${c.values.join(', ')}\\n`;\n    }\n  });\n}\n\n// Build contacts section\nlet contactsText = '';\ncontacts.forEach((c, i) => {\n  contactsText += `*Contact ${i + 1}:* <${c.link}|${c.name}> (${c.email})\\n`;\n  contactsText += `• Created: ${c.createdDate} | Created by: ${c.createdBy}\\n`;\n  contactsText += `• Motion: ${c.motion} | Category: ${c.leadSourceCategory} | Source: ${c.leadSource}\\n`;\n  contactsText += `• Original traffic: ${c.originalTrafficSource}\\n`;\n  contactsText += `• Drill down 1: ${c.drillDown1} | Drill down 2: ${c.drillDown2}\\n\\n`;\n});\n\nif (contacts.length === 0) {\n  contactsText = '_No contacts associated with this company_\\n';\n}\n\n// Build Slack blocks\nconst blocks = [\n  {\n    type: \"header\",\n    text: {\n      type: \"plain_text\",\n      text: `🚨 Company Source Issue: ${company.name}`,\n      emoji: true\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Type:* ${alertType}\\n${issueText}`\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*📋 Company Details*\\n• Owner: ${owner.name}\\n• Link: <${company.link}|Open in HubSpot>`\n    }\n  },\n  {\n    type: \"divider\"\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*👥 Associated Contacts*\\n${contactsText}`\n    }\n  },\n  {\n    type: \"divider\"\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: \"*Quick Fix - Motion:*\"\n    }\n  },\n  {\n    type: \"actions\",\n    block_id: \"motion_buttons\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Inbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Inbound\" }),\n        action_id: \"quick_fix_motion_inbound\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Outbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Outbound\" }),\n        action_id: \"quick_fix_motion_outbound\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Events\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Events\" }),\n        action_id: \"quick_fix_motion_events\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Referral\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Referral\" }),\n        action_id: \"quick_fix_motion_referral\"\n      }\n    ]\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: \"*Quick Fix - Lead Source Category:*\"\n    }\n  },\n  {\n    type: \"actions\",\n    block_id: \"category_buttons\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Direct\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Direct\" }),\n        action_id: \"quick_fix_category_direct\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Partners inbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Partners inbound\" }),\n        action_id: \"quick_fix_category_partners\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Sourcing outbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Sourcing outbound\" }),\n        action_id: \"quick_fix_category_sourcing\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"PPC\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"PPC\" }),\n        action_id: \"quick_fix_category_ppc\"\n      }\n    ]\n  },\n  {\n    type: \"actions\",\n    block_id: \"modal_button\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"✏️ Open Full Form\", emoji: true },\n        value: JSON.stringify({\n          companyId: company.id,\n          companyName: company.name,\n          currentMotion: company.motion || '',\n          currentCategory: company.leadSourceCategory || '',\n          currentSource: company.leadSource || '',\n          contacts: contacts\n        }),\n        action_id: \"open_modal\",\n        style: \"primary\"\n      }\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    text: `Company Source Issue: ${company.name}`\n  }\n}];"},"id":"code-build-slack","name":"Code - Build Slack Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,200]},{"parameters":{"method":"POST","url":"SLACK_WEBHOOK_URL","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ JSON.stringify($json.blocks) }}\n}","options":{}},"id":"http-send-slack","name":"HTTP - Send Slack Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,200]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"alert_sent\"}","options":{}},"id":"respond-success","name":"Respond - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2880,200]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"no_issues\"}","options":{}},"id":"respond-no-issues","name":"Respond - No Issues","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2440,400]}],"connections":{"Webhook - HubSpot Trigger":{"main":[[{"node":"HTTP - Get Company","type":"main","index":0}]]},"HTTP - Get Company":{"main":[[{"node":"HTTP - Get Owner","type":"main","index":0}]]},"HTTP - Get Owner":{"main":[[{"node":"HTTP - Get Contact Associations","type":"main","index":0}]]},"HTTP - Get Contact Associations":{"main":[[{"node":"Code - Extract Contact IDs","type":"main","index":0}]]},"Code - Extract Contact IDs":{"main":[[{"node":"IF - Has Contacts","type":"main","index":0}]]},"IF - Has Contacts":{"main":[[{"node":"HTTP - Get Contacts","type":"main","index":0}],[{"node":"Code - No Contacts Check","type":"main","index":0}]]},"HTTP - Get Contacts":{"main":[[{"node":"Code - Detect Issues","type":"main","index":0}]]},"Code - Detect Issues":{"main":[[{"node":"Merge - Combine Paths","type":"main","index":0}]]},"Code - No Contacts Check":{"main":[[{"node":"Merge - Combine Paths","type":"main","index":1}]]},"Merge - Combine Paths":{"main":[[{"node":"IF - Has Issues","type":"main","index":0}]]},"IF - Has Issues":{"main":[[{"node":"Code - Build Slack Message","type":"main","index":0}],[{"node":"Respond - No Issues","type":"main","index":0}]]},"Code - Build Slack Message":{"main":[[{"node":"HTTP - Send Slack Alert","type":"main","index":0}]]},"HTTP - Send Slack Alert":{"main":[[{"node":"Respond - Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3d9d61c4-82a9-453a-8935-17a0b850ace4","activeVersionId":"3d9d61c4-82a9-453a-8935-17a0b850ace4","versionCounter":16,"triggerCount":1,"shared":[{"updatedAt":"2026-02-05T13:46:09.932Z","createdAt":"2026-02-05T13:46:09.932Z","role":"workflow:owner","workflowId":"VE6RJU1xNkOYEAfi","projectId":"qqB0tcgZJrfZzxDW","project":{"updatedAt":"2025-05-15T09:02:53.715Z","createdAt":"2025-05-15T08:54:22.268Z","id":"qqB0tcgZJrfZzxDW","name":"Idan Ron <idanron5@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bfe6d3ac-37a3-4754-b20b-870751f66aba","projectRelations":[{"updatedAt":"2025-05-15T08:54:22.268Z","createdAt":"2025-05-15T08:54:22.268Z","userId":"bfe6d3ac-37a3-4754-b20b-870751f66aba","projectId":"qqB0tcgZJrfZzxDW","user":{"updatedAt":"2026-02-05T13:46:09.929Z","createdAt":"2025-05-15T08:54:17.842Z","id":"bfe6d3ac-37a3-4754-b20b-870751f66aba","email":"idanron5@gmail.com","firstName":"Idan","lastName":"Ron","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-15T09:03:32.177Z","personalization_survey_n8n_version":"1.92.2","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ln3wZNmCEfkXT0jd","userActivatedAt":1747301658991,"npsSurvey":{"responded":true,"lastShownAt":1766497270683}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-05T14:18:39.914Z","createdAt":"2026-02-05T14:18:39.914Z","versionId":"3d9d61c4-82a9-453a-8935-17a0b850ace4","workflowId":"VE6RJU1xNkOYEAfi","nodes":[{"parameters":{"httpMethod":"POST","path":"company-source-check","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook - HubSpot Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"company-source-check"},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.body.objectId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"name,domain,hubspot_owner_id,motion,lead_source_category,lead_source"}]},"options":{}},"id":"http-get-company","name":"HTTP - Get Company","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v3/owners/{{ $json.properties.hubspot_owner_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"http-get-owner","name":"HTTP - Get Owner","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"GET","url":"=https://api.hubspot.com/crm/v4/objects/companies/{{ $node[\"HTTP - Get Company\"].json.id }}/associations/contacts","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"http-get-associations","name":"HTTP - Get Contact Associations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const associations = $input.first().json.results || [];\nconst contactIds = associations.map(a => a.toObjectId);\n\nreturn [{\n  json: {\n    contactIds,\n    hasContacts: contactIds.length > 0\n  }\n}];"},"id":"code-extract-ids","name":"Code - Extract Contact IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-contacts","leftValue":"={{ $json.hasContacts }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-contacts","name":"IF - Has Contacts","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,300]},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/contacts/batch/read","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": {{ JSON.stringify($json.contactIds.map(id => ({ id }))) }},\n  \"properties\": [\"firstname\", \"lastname\", \"email\", \"createdate\", \"hubspot_owner_id\", \"motion\", \"lead_source_category\", \"lead_source\", \"hs_analytics_source\", \"hs_analytics_source_data_1\", \"hs_analytics_source_data_2\"]\n}","options":{}},"id":"http-get-contacts","name":"HTTP - Get Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const company = $node[\"HTTP - Get Company\"].json;\nconst owner = $node[\"HTTP - Get Owner\"].json;\nconst contactsResponse = $input.first().json;\nconst contacts = contactsResponse.results || [];\n\nconst companyProps = company.properties;\nconst companyMotion = companyProps.motion || null;\nconst companyCategory = companyProps.lead_source_category || null;\nconst companySource = companyProps.lead_source || null;\n\n// Check for missing fields\nconst missingFields = [];\nif (!companyMotion) missingFields.push('Motion');\nif (!companyCategory) missingFields.push('Lead source category');\nif (!companySource) missingFields.push('Lead source');\n\n// Check for conflicts\nconst conflicts = [];\n\nif (contacts.length > 0) {\n  const firstContact = contacts[0].properties;\n\n  // Company vs first contact conflict\n  if (companyMotion && firstContact.motion && companyMotion !== firstContact.motion) {\n    conflicts.push({\n      field: 'Motion',\n      type: 'company_vs_contact',\n      companyValue: companyMotion,\n      contactValue: firstContact.motion\n    });\n  }\n  if (companyCategory && firstContact.lead_source_category && companyCategory !== firstContact.lead_source_category) {\n    conflicts.push({\n      field: 'Lead source category',\n      type: 'company_vs_contact',\n      companyValue: companyCategory,\n      contactValue: firstContact.lead_source_category\n    });\n  }\n  if (companySource && firstContact.lead_source && companySource !== firstContact.lead_source) {\n    conflicts.push({\n      field: 'Lead source',\n      type: 'company_vs_contact',\n      companyValue: companySource,\n      contactValue: firstContact.lead_source\n    });\n  }\n\n  // Contact vs contact conflict\n  if (contacts.length > 1) {\n    const motionValues = [...new Set(contacts.map(c => c.properties.motion).filter(Boolean))];\n    const categoryValues = [...new Set(contacts.map(c => c.properties.lead_source_category).filter(Boolean))];\n    const sourceValues = [...new Set(contacts.map(c => c.properties.lead_source).filter(Boolean))];\n\n    if (motionValues.length > 1) {\n      conflicts.push({\n        field: 'Motion',\n        type: 'contact_vs_contact',\n        values: motionValues\n      });\n    }\n    if (categoryValues.length > 1) {\n      conflicts.push({\n        field: 'Lead source category',\n        type: 'contact_vs_contact',\n        values: categoryValues\n      });\n    }\n    if (sourceValues.length > 1) {\n      conflicts.push({\n        field: 'Lead source',\n        type: 'contact_vs_contact',\n        values: sourceValues\n      });\n    }\n  }\n}\n\nconst hasIssues = missingFields.length > 0 || conflicts.length > 0;\n\n// Format contacts for display\nconst formattedContacts = contacts.map(c => {\n  const p = c.properties;\n  return {\n    id: c.id,\n    name: `${p.firstname || ''} ${p.lastname || ''}`.trim() || 'Unknown',\n    email: p.email || 'No email',\n    createdDate: p.createdate ? new Date(p.createdate).toLocaleDateString() : 'Unknown',\n    createdBy: p.hubspot_owner_id || 'Unknown',\n    motion: p.motion || '—',\n    leadSourceCategory: p.lead_source_category || '—',\n    leadSource: p.lead_source || '—',\n    originalTrafficSource: p.hs_analytics_source || '—',\n    drillDown1: p.hs_analytics_source_data_1 || '—',\n    drillDown2: p.hs_analytics_source_data_2 || '—',\n    link: `https://app.hubspot.com/contacts/48653760/contact/${c.id}`\n  };\n});\n\nreturn [{\n  json: {\n    hasIssues,\n    missingFields,\n    conflicts,\n    company: {\n      id: company.id,\n      name: companyProps.name,\n      domain: companyProps.domain,\n      motion: companyMotion,\n      leadSourceCategory: companyCategory,\n      leadSource: companySource,\n      link: `https://app.hubspot.com/contacts/48653760/company/${company.id}`\n    },\n    owner: {\n      name: `${owner.firstName || ''} ${owner.lastName || ''}`.trim() || 'Unassigned',\n      email: owner.email || ''\n    },\n    contacts: formattedContacts\n  }\n}];"},"id":"code-detect-issues","name":"Code - Detect Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,200]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const company = $node[\"HTTP - Get Company\"].json;\nconst owner = $node[\"HTTP - Get Owner\"].json;\n\nconst companyProps = company.properties;\nconst companyMotion = companyProps.motion || null;\nconst companyCategory = companyProps.lead_source_category || null;\nconst companySource = companyProps.lead_source || null;\n\n// Check for missing fields\nconst missingFields = [];\nif (!companyMotion) missingFields.push('Motion');\nif (!companyCategory) missingFields.push('Lead source category');\nif (!companySource) missingFields.push('Lead source');\n\nconst hasIssues = missingFields.length > 0;\n\nreturn [{\n  json: {\n    hasIssues,\n    missingFields,\n    conflicts: [],\n    company: {\n      id: company.id,\n      name: companyProps.name,\n      domain: companyProps.domain,\n      motion: companyMotion,\n      leadSourceCategory: companyCategory,\n      leadSource: companySource,\n      link: `https://app.hubspot.com/contacts/48653760/company/${company.id}`\n    },\n    owner: {\n      name: `${owner.firstName || ''} ${owner.lastName || ''}`.trim() || 'Unassigned',\n      email: owner.email || ''\n    },\n    contacts: []\n  }\n}];"},"id":"code-no-contacts","name":"Code - No Contacts Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-paths","name":"Merge - Combine Paths","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-issues","leftValue":"={{ $json.hasIssues }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-issues","name":"IF - Has Issues","type":"n8n-nodes-base.if","typeVersion":2,"position":[2220,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\nconst { company, owner, contacts, missingFields, conflicts } = data;\n\n// Determine alert type\nlet alertType = '';\nif (missingFields.length > 0 && conflicts.length > 0) {\n  alertType = 'Missing Source & Conflict Detected';\n} else if (missingFields.length > 0) {\n  alertType = 'Missing Source';\n} else if (conflicts.length > 0) {\n  alertType = 'Conflict Detected';\n}\n\n// Build issue description\nlet issueText = '';\nif (missingFields.length > 0) {\n  issueText += `*Missing fields:* ${missingFields.join(', ')}\\n`;\n}\nif (conflicts.length > 0) {\n  conflicts.forEach(c => {\n    if (c.type === 'company_vs_contact') {\n      issueText += `*Conflict (${c.field}):* Company has \"${c.companyValue}\" but first contact has \"${c.contactValue}\"\\n`;\n    } else {\n      issueText += `*Conflict (${c.field}):* Contacts have different values: ${c.values.join(', ')}\\n`;\n    }\n  });\n}\n\n// Build contacts section\nlet contactsText = '';\ncontacts.forEach((c, i) => {\n  contactsText += `*Contact ${i + 1}:* <${c.link}|${c.name}> (${c.email})\\n`;\n  contactsText += `• Created: ${c.createdDate} | Created by: ${c.createdBy}\\n`;\n  contactsText += `• Motion: ${c.motion} | Category: ${c.leadSourceCategory} | Source: ${c.leadSource}\\n`;\n  contactsText += `• Original traffic: ${c.originalTrafficSource}\\n`;\n  contactsText += `• Drill down 1: ${c.drillDown1} | Drill down 2: ${c.drillDown2}\\n\\n`;\n});\n\nif (contacts.length === 0) {\n  contactsText = '_No contacts associated with this company_\\n';\n}\n\n// Build Slack blocks\nconst blocks = [\n  {\n    type: \"header\",\n    text: {\n      type: \"plain_text\",\n      text: `🚨 Company Source Issue: ${company.name}`,\n      emoji: true\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Type:* ${alertType}\\n${issueText}`\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*📋 Company Details*\\n• Owner: ${owner.name}\\n• Link: <${company.link}|Open in HubSpot>`\n    }\n  },\n  {\n    type: \"divider\"\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*👥 Associated Contacts*\\n${contactsText}`\n    }\n  },\n  {\n    type: \"divider\"\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: \"*Quick Fix - Motion:*\"\n    }\n  },\n  {\n    type: \"actions\",\n    block_id: \"motion_buttons\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Inbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Inbound\" }),\n        action_id: \"quick_fix_motion_inbound\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Outbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Outbound\" }),\n        action_id: \"quick_fix_motion_outbound\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Events\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Events\" }),\n        action_id: \"quick_fix_motion_events\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Referral\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"motion\", value: \"Referral\" }),\n        action_id: \"quick_fix_motion_referral\"\n      }\n    ]\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: \"*Quick Fix - Lead Source Category:*\"\n    }\n  },\n  {\n    type: \"actions\",\n    block_id: \"category_buttons\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Direct\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Direct\" }),\n        action_id: \"quick_fix_category_direct\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Partners inbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Partners inbound\" }),\n        action_id: \"quick_fix_category_partners\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"Sourcing outbound\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"Sourcing outbound\" }),\n        action_id: \"quick_fix_category_sourcing\"\n      },\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"PPC\", emoji: true },\n        value: JSON.stringify({ companyId: company.id, field: \"lead_source_category\", value: \"PPC\" }),\n        action_id: \"quick_fix_category_ppc\"\n      }\n    ]\n  },\n  {\n    type: \"actions\",\n    block_id: \"modal_button\",\n    elements: [\n      {\n        type: \"button\",\n        text: { type: \"plain_text\", text: \"✏️ Open Full Form\", emoji: true },\n        value: JSON.stringify({\n          companyId: company.id,\n          companyName: company.name,\n          currentMotion: company.motion || '',\n          currentCategory: company.leadSourceCategory || '',\n          currentSource: company.leadSource || '',\n          contacts: contacts\n        }),\n        action_id: \"open_modal\",\n        style: \"primary\"\n      }\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    text: `Company Source Issue: ${company.name}`\n  }\n}];"},"id":"code-build-slack","name":"Code - Build Slack Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,200]},{"parameters":{"method":"POST","url":"SLACK_WEBHOOK_URL","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ JSON.stringify($json.blocks) }}\n}","options":{}},"id":"http-send-slack","name":"HTTP - Send Slack Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,200]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"alert_sent\"}","options":{}},"id":"respond-success","name":"Respond - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2880,200]},{"parameters":{"respondWith":"json","responseBody":"={\"status\": \"no_issues\"}","options":{}},"id":"respond-no-issues","name":"Respond - No Issues","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2440,400]}],"connections":{"Webhook - HubSpot Trigger":{"main":[[{"node":"HTTP - Get Company","type":"main","index":0}]]},"HTTP - Get Company":{"main":[[{"node":"HTTP - Get Owner","type":"main","index":0}]]},"HTTP - Get Owner":{"main":[[{"node":"HTTP - Get Contact Associations","type":"main","index":0}]]},"HTTP - Get Contact Associations":{"main":[[{"node":"Code - Extract Contact IDs","type":"main","index":0}]]},"Code - Extract Contact IDs":{"main":[[{"node":"IF - Has Contacts","type":"main","index":0}]]},"IF - Has Contacts":{"main":[[{"node":"HTTP - Get Contacts","type":"main","index":0}],[{"node":"Code - No Contacts Check","type":"main","index":0}]]},"HTTP - Get Contacts":{"main":[[{"node":"Code - Detect Issues","type":"main","index":0}]]},"Code - Detect Issues":{"main":[[{"node":"Merge - Combine Paths","type":"main","index":0}]]},"Code - No Contacts Check":{"main":[[{"node":"Merge - Combine Paths","type":"main","index":1}]]},"Merge - Combine Paths":{"main":[[{"node":"IF - Has Issues","type":"main","index":0}]]},"IF - Has Issues":{"main":[[{"node":"Code - Build Slack Message","type":"main","index":0}],[{"node":"Respond - No Issues","type":"main","index":0}]]},"Code - Build Slack Message":{"main":[[{"node":"HTTP - Send Slack Alert","type":"main","index":0}]]},"HTTP - Send Slack Alert":{"main":[[{"node":"Respond - Success","type":"main","index":0}]]}},"authors":"Idan Ron","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-05T14:18:40.242Z","id":121,"workflowId":"VE6RJU1xNkOYEAfi","versionId":"3d9d61c4-82a9-453a-8935-17a0b850ace4","event":"activated","userId":"bfe6d3ac-37a3-4754-b20b-870751f66aba"}]}}