n8n-workflow-watchdog-daily-coordinator.json
{
  "name": "Reindeer AI Health Check: Daily Coordinator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 8 }]
        }
      },
      "id": "schedule",
      "name": "Schedule - Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "watchdog-daily-run",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "Webhook - Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "watchdog-daily-run"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-service-v39p.onrender.com/webhook/watchdog-orphaned-contacts",
        "options": { "timeout": 30000 }
      },
      "id": "check-orphaned-contacts",
      "name": "HTTP - Check Orphaned Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-service-v39p.onrender.com/webhook/watchdog-missing-contact-fields",
        "options": { "timeout": 30000 }
      },
      "id": "check-missing-contact-fields",
      "name": "HTTP - Check Missing Contact Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-service-v39p.onrender.com/webhook/watchdog-missing-company-source",
        "options": { "timeout": 30000 }
      },
      "id": "check-missing-company-source",
      "name": "HTTP - Check Missing Company Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 500]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3,
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge - Collect Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all().map(item => item.json);\n\n// Count by severity\nconst failures = results.filter(r => r.status === 'fail');\nconst critical = failures.filter(r => r.severity === 'critical').length;\nconst high = failures.filter(r => r.severity === 'high').length;\nconst medium = failures.filter(r => r.severity === 'medium').length;\nconst passed = results.filter(r => r.status === 'pass').length;\n\n// Build Slack blocks\nconst blocks = [];\n\n// Header\nblocks.push({\n  type: 'header',\n  text: { type: 'plain_text', text: 'HubSpot Watchdog — Daily Report' }\n});\n\n// Summary line\nconst summaryParts = [];\nif (critical > 0) summaryParts.push(`${critical} Critical`);\nif (high > 0) summaryParts.push(`${high} High`);\nif (medium > 0) summaryParts.push(`${medium} Medium`);\nsummaryParts.push(`${passed} Passed`);\n\nblocks.push({\n  type: 'section',\n  text: { type: 'mrkdwn', text: summaryParts.join('  |  ') }\n});\n\nblocks.push({ type: 'divider' });\n\n// Detail blocks for each failing check\nfor (const result of failures) {\n  const checkName = result.check_id.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  blocks.push({\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*${checkName} (${result.count} found)*`\n    }\n  });\n\n  // Show first 5 items max\n  const displayItems = (result.items || []).slice(0, 5);\n  for (const item of displayItems) {\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `• *${item.record_name}* — ${item.details}\\n<${item.hubspot_url}|View in HubSpot>`\n      }\n    });\n  }\n\n  if ((result.items || []).length > 5) {\n    blocks.push({\n      type: 'section',\n      text: { type: 'mrkdwn', text: `_...and ${result.items.length - 5} more_` }\n    });\n  }\n\n  blocks.push({ type: 'divider' });\n}\n\n// Footer\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: 'Reply to this message to add exceptions or corrections' }]\n});\n\n// Build results array for Supabase\nconst supabaseResults = results.map(r => ({\n  check_id: r.check_id,\n  status: r.status,\n  violation_count: r.count || 0,\n  violations: r.items || [],\n  run_at: new Date().toISOString()\n}));\n\nreturn [{\n  json: {\n    hasFailures: failures.length > 0,\n    slackPayload: {\n      text: `Watchdog Daily: ${failures.length} checks failed`,\n      blocks: blocks\n    },\n    supabaseResults: supabaseResults\n  }\n}];"
      },
      "id": "format-digest",
      "name": "Code - Format Slack Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oirehnrecwzcvxusdbku.supabase.co/rest/v1/watchdog_results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmVobnJlY3d6Y3Z4dXNkYmt1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ5NjMxNCwiZXhwIjoyMDg3MDcyMzE0fQ.c9ZSz88tiYA423J9dudJbf7uUWaDNNDUNlNmFYoqqlo" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmVobnJlY3d6Y3Z4dXNkYmt1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ5NjMxNCwiZXhwIjoyMDg3MDcyMzE0fQ.c9ZSz88tiYA423J9dudJbf7uUWaDNNDUNlNmFYoqqlo" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.supabaseResults) }}",
        "options": {}
      },
      "id": "save-supabase",
      "name": "HTTP - Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "has-failures",
            "leftValue": "={{ $json.hasFailures }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-failures",
      "name": "IF - Has Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "HTTP - Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    }
  ],
  "connections": {
    "Schedule - Daily 8AM": {
      "main": [[
        { "node": "HTTP - Check Orphaned Contacts", "type": "main", "index": 0 },
        { "node": "HTTP - Check Missing Contact Fields", "type": "main", "index": 0 },
        { "node": "HTTP - Check Missing Company Source", "type": "main", "index": 0 }
      ]]
    },
    "Webhook - Manual Trigger": {
      "main": [[
        { "node": "HTTP - Check Orphaned Contacts", "type": "main", "index": 0 },
        { "node": "HTTP - Check Missing Contact Fields", "type": "main", "index": 0 },
        { "node": "HTTP - Check Missing Company Source", "type": "main", "index": 0 }
      ]]
    },
    "HTTP - Check Orphaned Contacts": {
      "main": [[{ "node": "Merge - Collect Results", "type": "main", "index": 0 }]]
    },
    "HTTP - Check Missing Contact Fields": {
      "main": [[{ "node": "Merge - Collect Results", "type": "main", "index": 1 }]]
    },
    "HTTP - Check Missing Company Source": {
      "main": [[{ "node": "Merge - Collect Results", "type": "main", "index": 2 }]]
    },
    "Merge - Collect Results": {
      "main": [[{ "node": "Code - Format Slack Digest", "type": "main", "index": 0 }]]
    },
    "Code - Format Slack Digest": {
      "main": [[
        { "node": "HTTP - Save to Supabase", "type": "main", "index": 0 },
        { "node": "IF - Has Failures", "type": "main", "index": 0 }
      ]]
    },
    "IF - Has Failures": {
      "main": [
        [{ "node": "HTTP - Send Slack Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
