n8n-workflow-watchdog-stale-companies.json
{
  "name": "Reindeer AI Health Check: Stale Companies",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "watchdog-stale-companies",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "watchdog-stale-companies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubspot.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"notes_last_updated\", \"operator\": \"LT\", \"value\": \"{{ Date.now() - 30 * 24 * 60 * 60 * 1000 }}\" },\n        { \"propertyName\": \"hs_lead_status\", \"operator\": \"EQ\", \"value\": \"Open\" }\n      ]\n    },\n    {\n      \"filters\": [\n        { \"propertyName\": \"notes_last_updated\", \"operator\": \"LT\", \"value\": \"{{ Date.now() - 30 * 24 * 60 * 60 * 1000 }}\" },\n        { \"propertyName\": \"hs_lead_status\", \"operator\": \"EQ\", \"value\": \"In Progress\" }\n      ]\n    },\n    {\n      \"filters\": [\n        { \"propertyName\": \"notes_last_updated\", \"operator\": \"LT\", \"value\": \"{{ Date.now() - 30 * 24 * 60 * 60 * 1000 }}\" },\n        { \"propertyName\": \"hs_lead_status\", \"operator\": \"EQ\", \"value\": \"Meeting Scheduled\" }\n      ]\n    }\n  ],\n  \"properties\": [\"name\", \"domain\", \"hs_lead_status\", \"notes_last_updated\", \"hubspot_owner_id\"],\n  \"limit\": 100\n}",
        "options": {}
      },
      "id": "hubspot-search",
      "name": "HTTP - Search Stale Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "hubspotAppToken": { "id": "Ic8seJpUK2XUSDQY", "name": "Reindeer" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const searchResults = $('HTTP - Search Stale Companies').first().json;\nconst companies = searchResults.results || [];\n\nconst items = companies.map(c => {\n  const props = c.properties || {};\n  const lastUpdate = props.notes_last_updated ? new Date(props.notes_last_updated) : null;\n  const daysAgo = lastUpdate ? Math.floor((Date.now() - lastUpdate.getTime()) / (1000 * 60 * 60 * 24)) : 'unknown';\n\n  return {\n    record_type: 'company',\n    record_id: c.id,\n    record_name: props.name || props.domain || '(unnamed)',\n    details: `Company \"${props.name || '(unnamed)'}\" is \"${props.hs_lead_status}\" but last activity was ${daysAgo} days ago. Domain: ${props.domain || 'none'}.`,\n    hubspot_url: `https://app.hubspot.com/contacts/48653760/company/${c.id}`\n  };\n});\n\nreturn [{\n  json: {\n    check_id: 'stale-companies',\n    status: items.length > 0 ? 'fail' : 'pass',\n    severity: 'medium',\n    count: items.length,\n    items: items\n  }\n}];"
      },
      "id": "business-logic",
      "name": "Code - Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "HTTP - Search Stale Companies", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Search Stale Companies": {
      "main": [
        [{ "node": "Code - Build Result", "type": "main", "index": 0 }]
      ]
    },
    "Code - Build Result": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
