n8n-workflow-company-source-fix.json
{"updatedAt":"2026-02-05T14:19:15.706Z","createdAt":"2026-02-05T14:12:04.477Z","id":"7yW8s0qxmMETFU6F","name":"Company Source Fix Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"company-source-fix","responseMode":"responseNode","options":{}},"id":"webhook-slack","name":"Webhook - Slack Interaction","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"company-source-fix"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Slack sends payload as URL-encoded form data\nconst rawPayload = $input.first().json.body.payload;\nconst payload = JSON.parse(rawPayload);\n\nconst isModal = payload.type === 'view_submission';\nconst isButtonClick = payload.type === 'block_actions';\n\nif (isButtonClick) {\n  const buttonAction = payload.actions[0];\n  const actionId = buttonAction.action_id;\n\n  if (actionId === 'open_modal') {\n    // Return modal trigger info\n    const value = JSON.parse(buttonAction.value);\n    return [{\n      json: {\n        actionType: 'open_modal',\n        triggerId: payload.trigger_id,\n        companyId: value.companyId,\n        companyName: value.companyName,\n        currentMotion: value.currentMotion,\n        currentCategory: value.currentCategory,\n        currentSource: value.currentSource,\n        contacts: value.contacts,\n        responseUrl: payload.response_url,\n        channelId: payload.channel.id,\n        messageTs: payload.message.ts\n      }\n    }];\n  } else {\n    // Quick fix button\n    const value = JSON.parse(buttonAction.value);\n    return [{\n      json: {\n        actionType: 'quick_fix',\n        companyId: value.companyId,\n        field: value.field,\n        value: value.value,\n        responseUrl: payload.response_url,\n        channelId: payload.channel.id,\n        messageTs: payload.message.ts,\n        userName: payload.user.name\n      }\n    }];\n  }\n}\n\nif (isModal) {\n  const values = payload.view.state.values;\n  const privateMetadata = JSON.parse(payload.view.private_metadata);\n\n  return [{\n    json: {\n      actionType: 'modal_submit',\n      companyId: privateMetadata.companyId,\n      motion: values.motion_input?.motion_select?.selected_option?.value || null,\n      leadSourceCategory: values.category_input?.category_select?.selected_option?.value || null,\n      leadSource: values.source_input?.source_text?.value || null,\n      responseUrl: privateMetadata.responseUrl,\n      channelId: privateMetadata.channelId,\n      messageTs: privateMetadata.messageTs,\n      userName: payload.user.name\n    }\n  }];\n}\n\nreturn [{ json: { actionType: 'unknown' } }];"},"id":"code-parse-payload","name":"Code - Parse Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"quick_fix","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"quick_fix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"open_modal","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"open_modal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"modal_submit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"modal_submit"}]},"options":{}},"id":"switch-action","name":"Switch - Action Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[680,300]},{"parameters":{"method":"PATCH","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.companyId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"{{ $json.field }}\": \"{{ $json.value }}\"\n  }\n}","options":{}},"id":"http-quick-fix","name":"HTTP - Quick Fix Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,100],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"POST","url":"={{ $node[\"Code - Parse Payload\"].json.responseUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"✅ Updated {{ $node['Code - Parse Payload'].json.field }} to \\\"{{ $node['Code - Parse Payload'].json.value }}\\\" by {{ $node['Code - Parse Payload'].json.userName }}\",\n  \"response_type\": \"in_channel\",\n  \"replace_original\": false\n}","options":{}},"id":"http-quick-confirm","name":"HTTP - Quick Fix Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,100]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-quick-fix","name":"Respond - Quick Fix Done","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,100]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\n\n// Build contacts reference text\nlet contactsText = '';\nif (data.contacts && data.contacts.length > 0) {\n  data.contacts.forEach((c, i) => {\n    contactsText += `*Contact ${i + 1}:* ${c.name} (${c.email})\\n`;\n    contactsText += `Motion: ${c.motion} | Category: ${c.leadSourceCategory} | Source: ${c.leadSource}\\n`;\n    contactsText += `Original: ${c.originalTrafficSource} | DD1: ${c.drillDown1} | DD2: ${c.drillDown2}\\n\\n`;\n  });\n} else {\n  contactsText = '_No contacts associated_';\n}\n\nconst modal = {\n  type: \"modal\",\n  callback_id: \"company_source_modal\",\n  private_metadata: JSON.stringify({\n    companyId: data.companyId,\n    responseUrl: data.responseUrl,\n    channelId: data.channelId,\n    messageTs: data.messageTs\n  }),\n  title: {\n    type: \"plain_text\",\n    text: \"Fix Company Source\"\n  },\n  submit: {\n    type: \"plain_text\",\n    text: \"Submit\"\n  },\n  close: {\n    type: \"plain_text\",\n    text: \"Cancel\"\n  },\n  blocks: [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*Company:* ${data.companyName}`\n      }\n    },\n    {\n      type: \"divider\"\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*Contact Reference:*\\n${contactsText}`\n      }\n    },\n    {\n      type: \"divider\"\n    },\n    {\n      type: \"input\",\n      block_id: \"motion_input\",\n      optional: true,\n      element: {\n        type: \"static_select\",\n        action_id: \"motion_select\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Select Motion\"\n        },\n        options: [\n          { text: { type: \"plain_text\", text: \"Inbound\" }, value: \"Inbound\" },\n          { text: { type: \"plain_text\", text: \"Outbound\" }, value: \"Outbound\" },\n          { text: { type: \"plain_text\", text: \"Events\" }, value: \"Events\" },\n          { text: { type: \"plain_text\", text: \"Referral\" }, value: \"Referral\" }\n        ]\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Motion\"\n      }\n    },\n    {\n      type: \"input\",\n      block_id: \"category_input\",\n      optional: true,\n      element: {\n        type: \"static_select\",\n        action_id: \"category_select\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Select Lead Source Category\"\n        },\n        options: [\n          { text: { type: \"plain_text\", text: \"Direct\" }, value: \"Direct\" },\n          { text: { type: \"plain_text\", text: \"Partners inbound\" }, value: \"Partners inbound\" },\n          { text: { type: \"plain_text\", text: \"Sourcing outbound\" }, value: \"Sourcing outbound\" },\n          { text: { type: \"plain_text\", text: \"PPC\" }, value: \"PPC\" },\n          { text: { type: \"plain_text\", text: \"Signal based outbound\" }, value: \"Signal based outbound\" },\n          { text: { type: \"plain_text\", text: \"Organic social\" }, value: \"Organic social\" },\n          { text: { type: \"plain_text\", text: \"Organic search\" }, value: \"Organic search\" },\n          { text: { type: \"plain_text\", text: \"Other campaigns\" }, value: \"Other campaigns\" },\n          { text: { type: \"plain_text\", text: \"Investors referral\" }, value: \"Investors referral\" },\n          { text: { type: \"plain_text\", text: \"Customer/Prospect referral\" }, value: \"Customer/Prospect referral\" }\n        ]\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Lead Source Category\"\n      }\n    },\n    {\n      type: \"input\",\n      block_id: \"source_input\",\n      optional: true,\n      element: {\n        type: \"plain_text_input\",\n        action_id: \"source_text\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Enter lead source\"\n        },\n        initial_value: data.currentSource || ''\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Lead Source\"\n      }\n    }\n  ]\n};\n\n// Add initial_option for Motion if current value exists and is valid\nif (data.currentMotion && ['Inbound', 'Outbound', 'Events', 'Referral'].includes(data.currentMotion)) {\n  modal.blocks[4].element.initial_option = {\n    text: { type: \"plain_text\", text: data.currentMotion },\n    value: data.currentMotion\n  };\n}\n\n// Add initial_option for Category if current value exists\nconst validCategories = ['Direct', 'Partners inbound', 'Sourcing outbound', 'PPC', 'Signal based outbound', 'Organic social', 'Organic search', 'Other campaigns', 'Investors referral', 'Customer/Prospect referral'];\nif (data.currentCategory && validCategories.includes(data.currentCategory)) {\n  modal.blocks[5].element.initial_option = {\n    text: { type: \"plain_text\", text: data.currentCategory },\n    value: data.currentCategory\n  };\n}\n\nreturn [{\n  json: {\n    triggerId: data.triggerId,\n    modal\n  }\n}];"},"id":"code-build-modal","name":"Code - Build Modal","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"POST","url":"https://slack.com/api/views.open","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer SLACK_BOT_TOKEN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"trigger_id\": \"{{ $json.triggerId }}\",\n  \"view\": {{ JSON.stringify($json.modal) }}\n}","options":{}},"id":"http-open-modal","name":"HTTP - Open Modal","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-modal-opened","name":"Respond - Modal Opened","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\nconst properties = {};\n\nif (data.motion) properties.motion = data.motion;\nif (data.leadSourceCategory) properties.lead_source_category = data.leadSourceCategory;\nif (data.leadSource) properties.lead_source = data.leadSource;\n\nreturn [{\n  json: {\n    ...data,\n    properties,\n    hasUpdates: Object.keys(properties).length > 0\n  }\n}];"},"id":"code-build-properties","name":"Code - Build Update Properties","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-updates","leftValue":"={{ $json.hasUpdates }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-updates","name":"IF - Has Updates","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,500]},{"parameters":{"method":"PATCH","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.companyId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {{ JSON.stringify($json.properties) }}\n}","options":{}},"id":"http-modal-update","name":"HTTP - Modal Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,400],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"POST","url":"={{ $node[\"Code - Build Update Properties\"].json.responseUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"✅ Company source updated via form by {{ $node['Code - Build Update Properties'].json.userName }}:\\n• Motion: {{ $node['Code - Build Update Properties'].json.motion || 'unchanged' }}\\n• Category: {{ $node['Code - Build Update Properties'].json.leadSourceCategory || 'unchanged' }}\\n• Source: {{ $node['Code - Build Update Properties'].json.leadSource || 'unchanged' }}\",\n  \"response_type\": \"in_channel\",\n  \"replace_original\": false\n}","options":{}},"id":"http-modal-confirm","name":"HTTP - Modal Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,400]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-modal-done","name":"Respond - Modal Done","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1780,400]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-no-updates","name":"Respond - No Updates","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,600]}],"connections":{"Webhook - Slack Interaction":{"main":[[{"node":"Code - Parse Payload","type":"main","index":0}]]},"Code - Parse Payload":{"main":[[{"node":"Switch - Action Type","type":"main","index":0}]]},"Switch - Action Type":{"main":[[{"node":"HTTP - Quick Fix Update","type":"main","index":0}],[{"node":"Code - Build Modal","type":"main","index":0}],[{"node":"Code - Build Update Properties","type":"main","index":0}]]},"HTTP - Quick Fix Update":{"main":[[{"node":"HTTP - Quick Fix Confirm","type":"main","index":0}]]},"HTTP - Quick Fix Confirm":{"main":[[{"node":"Respond - Quick Fix Done","type":"main","index":0}]]},"Code - Build Modal":{"main":[[{"node":"HTTP - Open Modal","type":"main","index":0}]]},"HTTP - Open Modal":{"main":[[{"node":"Respond - Modal Opened","type":"main","index":0}]]},"Code - Build Update Properties":{"main":[[{"node":"IF - Has Updates","type":"main","index":0}]]},"IF - Has Updates":{"main":[[{"node":"HTTP - Modal Update","type":"main","index":0}],[{"node":"Respond - No Updates","type":"main","index":0}]]},"HTTP - Modal Update":{"main":[[{"node":"HTTP - Modal Confirm","type":"main","index":0}]]},"HTTP - Modal Confirm":{"main":[[{"node":"Respond - Modal Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"086a15a2-af80-4441-a811-d6f413272df6","activeVersionId":"086a15a2-af80-4441-a811-d6f413272df6","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-02-05T14:12:04.477Z","createdAt":"2026-02-05T14:12:04.477Z","role":"workflow:owner","workflowId":"7yW8s0qxmMETFU6F","projectId":"qqB0tcgZJrfZzxDW","project":{"updatedAt":"2025-05-15T09:02:53.715Z","createdAt":"2025-05-15T08:54:22.268Z","id":"qqB0tcgZJrfZzxDW","name":"Idan Ron <idanron5@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bfe6d3ac-37a3-4754-b20b-870751f66aba","projectRelations":[{"updatedAt":"2025-05-15T08:54:22.268Z","createdAt":"2025-05-15T08:54:22.268Z","userId":"bfe6d3ac-37a3-4754-b20b-870751f66aba","projectId":"qqB0tcgZJrfZzxDW","user":{"updatedAt":"2026-02-05T13:46:09.929Z","createdAt":"2025-05-15T08:54:17.842Z","id":"bfe6d3ac-37a3-4754-b20b-870751f66aba","email":"idanron5@gmail.com","firstName":"Idan","lastName":"Ron","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-15T09:03:32.177Z","personalization_survey_n8n_version":"1.92.2","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ln3wZNmCEfkXT0jd","userActivatedAt":1747301658991,"npsSurvey":{"responded":true,"lastShownAt":1766497270683}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-05T14:19:15.706Z","createdAt":"2026-02-05T14:19:15.706Z","versionId":"086a15a2-af80-4441-a811-d6f413272df6","workflowId":"7yW8s0qxmMETFU6F","nodes":[{"parameters":{"httpMethod":"POST","path":"company-source-fix","responseMode":"responseNode","options":{}},"id":"webhook-slack","name":"Webhook - Slack Interaction","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"company-source-fix"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Slack sends payload as URL-encoded form data\nconst rawPayload = $input.first().json.body.payload;\nconst payload = JSON.parse(rawPayload);\n\nconst isModal = payload.type === 'view_submission';\nconst isButtonClick = payload.type === 'block_actions';\n\nif (isButtonClick) {\n  const buttonAction = payload.actions[0];\n  const actionId = buttonAction.action_id;\n\n  if (actionId === 'open_modal') {\n    // Return modal trigger info\n    const value = JSON.parse(buttonAction.value);\n    return [{\n      json: {\n        actionType: 'open_modal',\n        triggerId: payload.trigger_id,\n        companyId: value.companyId,\n        companyName: value.companyName,\n        currentMotion: value.currentMotion,\n        currentCategory: value.currentCategory,\n        currentSource: value.currentSource,\n        contacts: value.contacts,\n        responseUrl: payload.response_url,\n        channelId: payload.channel.id,\n        messageTs: payload.message.ts\n      }\n    }];\n  } else {\n    // Quick fix button\n    const value = JSON.parse(buttonAction.value);\n    return [{\n      json: {\n        actionType: 'quick_fix',\n        companyId: value.companyId,\n        field: value.field,\n        value: value.value,\n        responseUrl: payload.response_url,\n        channelId: payload.channel.id,\n        messageTs: payload.message.ts,\n        userName: payload.user.name\n      }\n    }];\n  }\n}\n\nif (isModal) {\n  const values = payload.view.state.values;\n  const privateMetadata = JSON.parse(payload.view.private_metadata);\n\n  return [{\n    json: {\n      actionType: 'modal_submit',\n      companyId: privateMetadata.companyId,\n      motion: values.motion_input?.motion_select?.selected_option?.value || null,\n      leadSourceCategory: values.category_input?.category_select?.selected_option?.value || null,\n      leadSource: values.source_input?.source_text?.value || null,\n      responseUrl: privateMetadata.responseUrl,\n      channelId: privateMetadata.channelId,\n      messageTs: privateMetadata.messageTs,\n      userName: payload.user.name\n    }\n  }];\n}\n\nreturn [{ json: { actionType: 'unknown' } }];"},"id":"code-parse-payload","name":"Code - Parse Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"quick_fix","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"quick_fix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"open_modal","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"open_modal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.actionType }}","rightValue":"modal_submit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"modal_submit"}]},"options":{}},"id":"switch-action","name":"Switch - Action Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[680,300]},{"parameters":{"method":"PATCH","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.companyId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"{{ $json.field }}\": \"{{ $json.value }}\"\n  }\n}","options":{}},"id":"http-quick-fix","name":"HTTP - Quick Fix Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,100],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"POST","url":"={{ $node[\"Code - Parse Payload\"].json.responseUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"✅ Updated {{ $node['Code - Parse Payload'].json.field }} to \\\"{{ $node['Code - Parse Payload'].json.value }}\\\" by {{ $node['Code - Parse Payload'].json.userName }}\",\n  \"response_type\": \"in_channel\",\n  \"replace_original\": false\n}","options":{}},"id":"http-quick-confirm","name":"HTTP - Quick Fix Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,100]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-quick-fix","name":"Respond - Quick Fix Done","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,100]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\n\n// Build contacts reference text\nlet contactsText = '';\nif (data.contacts && data.contacts.length > 0) {\n  data.contacts.forEach((c, i) => {\n    contactsText += `*Contact ${i + 1}:* ${c.name} (${c.email})\\n`;\n    contactsText += `Motion: ${c.motion} | Category: ${c.leadSourceCategory} | Source: ${c.leadSource}\\n`;\n    contactsText += `Original: ${c.originalTrafficSource} | DD1: ${c.drillDown1} | DD2: ${c.drillDown2}\\n\\n`;\n  });\n} else {\n  contactsText = '_No contacts associated_';\n}\n\nconst modal = {\n  type: \"modal\",\n  callback_id: \"company_source_modal\",\n  private_metadata: JSON.stringify({\n    companyId: data.companyId,\n    responseUrl: data.responseUrl,\n    channelId: data.channelId,\n    messageTs: data.messageTs\n  }),\n  title: {\n    type: \"plain_text\",\n    text: \"Fix Company Source\"\n  },\n  submit: {\n    type: \"plain_text\",\n    text: \"Submit\"\n  },\n  close: {\n    type: \"plain_text\",\n    text: \"Cancel\"\n  },\n  blocks: [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*Company:* ${data.companyName}`\n      }\n    },\n    {\n      type: \"divider\"\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*Contact Reference:*\\n${contactsText}`\n      }\n    },\n    {\n      type: \"divider\"\n    },\n    {\n      type: \"input\",\n      block_id: \"motion_input\",\n      optional: true,\n      element: {\n        type: \"static_select\",\n        action_id: \"motion_select\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Select Motion\"\n        },\n        options: [\n          { text: { type: \"plain_text\", text: \"Inbound\" }, value: \"Inbound\" },\n          { text: { type: \"plain_text\", text: \"Outbound\" }, value: \"Outbound\" },\n          { text: { type: \"plain_text\", text: \"Events\" }, value: \"Events\" },\n          { text: { type: \"plain_text\", text: \"Referral\" }, value: \"Referral\" }\n        ]\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Motion\"\n      }\n    },\n    {\n      type: \"input\",\n      block_id: \"category_input\",\n      optional: true,\n      element: {\n        type: \"static_select\",\n        action_id: \"category_select\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Select Lead Source Category\"\n        },\n        options: [\n          { text: { type: \"plain_text\", text: \"Direct\" }, value: \"Direct\" },\n          { text: { type: \"plain_text\", text: \"Partners inbound\" }, value: \"Partners inbound\" },\n          { text: { type: \"plain_text\", text: \"Sourcing outbound\" }, value: \"Sourcing outbound\" },\n          { text: { type: \"plain_text\", text: \"PPC\" }, value: \"PPC\" },\n          { text: { type: \"plain_text\", text: \"Signal based outbound\" }, value: \"Signal based outbound\" },\n          { text: { type: \"plain_text\", text: \"Organic social\" }, value: \"Organic social\" },\n          { text: { type: \"plain_text\", text: \"Organic search\" }, value: \"Organic search\" },\n          { text: { type: \"plain_text\", text: \"Other campaigns\" }, value: \"Other campaigns\" },\n          { text: { type: \"plain_text\", text: \"Investors referral\" }, value: \"Investors referral\" },\n          { text: { type: \"plain_text\", text: \"Customer/Prospect referral\" }, value: \"Customer/Prospect referral\" }\n        ]\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Lead Source Category\"\n      }\n    },\n    {\n      type: \"input\",\n      block_id: \"source_input\",\n      optional: true,\n      element: {\n        type: \"plain_text_input\",\n        action_id: \"source_text\",\n        placeholder: {\n          type: \"plain_text\",\n          text: \"Enter lead source\"\n        },\n        initial_value: data.currentSource || ''\n      },\n      label: {\n        type: \"plain_text\",\n        text: \"Lead Source\"\n      }\n    }\n  ]\n};\n\n// Add initial_option for Motion if current value exists and is valid\nif (data.currentMotion && ['Inbound', 'Outbound', 'Events', 'Referral'].includes(data.currentMotion)) {\n  modal.blocks[4].element.initial_option = {\n    text: { type: \"plain_text\", text: data.currentMotion },\n    value: data.currentMotion\n  };\n}\n\n// Add initial_option for Category if current value exists\nconst validCategories = ['Direct', 'Partners inbound', 'Sourcing outbound', 'PPC', 'Signal based outbound', 'Organic social', 'Organic search', 'Other campaigns', 'Investors referral', 'Customer/Prospect referral'];\nif (data.currentCategory && validCategories.includes(data.currentCategory)) {\n  modal.blocks[5].element.initial_option = {\n    text: { type: \"plain_text\", text: data.currentCategory },\n    value: data.currentCategory\n  };\n}\n\nreturn [{\n  json: {\n    triggerId: data.triggerId,\n    modal\n  }\n}];"},"id":"code-build-modal","name":"Code - Build Modal","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"POST","url":"https://slack.com/api/views.open","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer SLACK_BOT_TOKEN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"trigger_id\": \"{{ $json.triggerId }}\",\n  \"view\": {{ JSON.stringify($json.modal) }}\n}","options":{}},"id":"http-open-modal","name":"HTTP - Open Modal","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-modal-opened","name":"Respond - Modal Opened","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const data = $input.first().json;\nconst properties = {};\n\nif (data.motion) properties.motion = data.motion;\nif (data.leadSourceCategory) properties.lead_source_category = data.leadSourceCategory;\nif (data.leadSource) properties.lead_source = data.leadSource;\n\nreturn [{\n  json: {\n    ...data,\n    properties,\n    hasUpdates: Object.keys(properties).length > 0\n  }\n}];"},"id":"code-build-properties","name":"Code - Build Update Properties","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-updates","leftValue":"={{ $json.hasUpdates }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-updates","name":"IF - Has Updates","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,500]},{"parameters":{"method":"PATCH","url":"=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.companyId }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {{ JSON.stringify($json.properties) }}\n}","options":{}},"id":"http-modal-update","name":"HTTP - Modal Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,400],"credentials":{"hubspotAppToken":{"id":"Ic8seJpUK2XUSDQY","name":"Reindeer"}}},{"parameters":{"method":"POST","url":"={{ $node[\"Code - Build Update Properties\"].json.responseUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"✅ Company source updated via form by {{ $node['Code - Build Update Properties'].json.userName }}:\\n• Motion: {{ $node['Code - Build Update Properties'].json.motion || 'unchanged' }}\\n• Category: {{ $node['Code - Build Update Properties'].json.leadSourceCategory || 'unchanged' }}\\n• Source: {{ $node['Code - Build Update Properties'].json.leadSource || 'unchanged' }}\",\n  \"response_type\": \"in_channel\",\n  \"replace_original\": false\n}","options":{}},"id":"http-modal-confirm","name":"HTTP - Modal Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,400]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-modal-done","name":"Respond - Modal Done","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1780,400]},{"parameters":{"respondWith":"noData","options":{}},"id":"respond-no-updates","name":"Respond - No Updates","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,600]}],"connections":{"Webhook - Slack Interaction":{"main":[[{"node":"Code - Parse Payload","type":"main","index":0}]]},"Code - Parse Payload":{"main":[[{"node":"Switch - Action Type","type":"main","index":0}]]},"Switch - Action Type":{"main":[[{"node":"HTTP - Quick Fix Update","type":"main","index":0}],[{"node":"Code - Build Modal","type":"main","index":0}],[{"node":"Code - Build Update Properties","type":"main","index":0}]]},"HTTP - Quick Fix Update":{"main":[[{"node":"HTTP - Quick Fix Confirm","type":"main","index":0}]]},"HTTP - Quick Fix Confirm":{"main":[[{"node":"Respond - Quick Fix Done","type":"main","index":0}]]},"Code - Build Modal":{"main":[[{"node":"HTTP - Open Modal","type":"main","index":0}]]},"HTTP - Open Modal":{"main":[[{"node":"Respond - Modal Opened","type":"main","index":0}]]},"Code - Build Update Properties":{"main":[[{"node":"IF - Has Updates","type":"main","index":0}]]},"IF - Has Updates":{"main":[[{"node":"HTTP - Modal Update","type":"main","index":0}],[{"node":"Respond - No Updates","type":"main","index":0}]]},"HTTP - Modal Update":{"main":[[{"node":"HTTP - Modal Confirm","type":"main","index":0}]]},"HTTP - Modal Confirm":{"main":[[{"node":"Respond - Modal Done","type":"main","index":0}]]}},"authors":"Idan Ron","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-05T14:19:15.859Z","id":122,"workflowId":"7yW8s0qxmMETFU6F","versionId":"086a15a2-af80-4441-a811-d6f413272df6","event":"activated","userId":"bfe6d3ac-37a3-4754-b20b-870751f66aba"}]}}