n8n-workflow-2-process-submission.json
{
  "name": "SAL Form - Process Submission",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sal-form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-form-submit",
      "name": "Webhook - Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "webhookId": "sal-form-submit"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.body.companyId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"sal_meeting_held\": \"{{ $json.body.formResponses.meetingHeld }}\",\n    \"sal_form_submitted_date\": \"{{ $json.body.formResponses.submittedAt.split('T')[0] }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-company-basic",
      "name": "Update Company - Basic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"sal_meeting_held\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.meetingHeld }}\",\n    \"sal_form_submitted_date\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.submittedAt.split('T')[0] }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-contact-basic",
      "name": "Update Contact - Basic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        400
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-no",
              "leftValue": "={{ $('Webhook - Form Submission').item.json.body.formResponses.meetingHeld }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-meeting-not-held",
      "name": "IF - Meeting Not Held",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-rescheduled",
              "leftValue": "={{ $('Webhook - Form Submission').item.json.body.formResponses.meetingHeld }}",
              "rightValue": "Rescheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-meeting-rescheduled",
      "name": "IF - Meeting Rescheduled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const contacts = $('Webhook - Form Submission').item.json.body.contacts;\nconst inputs = contacts.map(contact => ({\n  id: contact.contactId,\n  properties: { hs_lead_status: \"No Show\" }\n}));\nreturn [{ json: { inputs } }];"
      },
      "id": "code-prepare-contacts-batch",
      "name": "Prepare Contacts Batch - No Show",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-update-contacts-no-show",
      "name": "Update Contacts - No Show",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        80
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Meeting did not occur\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Not Held*\\n\\nContact: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}\\nEmail: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}\\nCompany: {{ $('Webhook - Form Submission').item.json.body.companyName }}\\nReason: {{ $('Webhook - Form Submission').item.json.body.formResponses.noShowReason || 'Not specified' }}\\n\\nPlease follow up to reschedule.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-sdr-no-meeting",
      "name": "Notify SDR - Meeting Not Held",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Form Submission').item.json.body.sdrEmail }}",
        "subject": "=Meeting Not Held - {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }} at {{ $('Webhook - Form Submission').item.json.body.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #f39c12;\">Meeting Not Held</h2>\n  <p>Hi {{ $('Webhook - Form Submission').item.json.body.sdrName }},</p>\n  <p>The following meeting was marked as <strong>not held</strong>:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.companyName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>AE:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.aeName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Reason:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.noShowReason || 'Not specified' }}</td></tr>\n  </table>\n  <p>Please follow up to reschedule the meeting.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai"
        }
      },
      "id": "gmail-email-sdr-no-meeting",
      "name": "Gmail - Email SDR - No Meeting",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        80
      ],
      "webhookId": "ad3901b7-b890-4eb7-9a8c-6aee256f171f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Meeting Rescheduled\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Rescheduled*\\n\\nContact: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}\\nEmail: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}\\nCompany: {{ $('Webhook - Form Submission').item.json.body.companyName }}\\nNew Date: {{ $('Webhook - Form Submission').item.json.body.formResponses.rescheduleDate || 'TBD' }}\\nNotes: {{ $('Webhook - Form Submission').item.json.body.formResponses.rescheduleNotes || 'None' }}\\n\\nPlease coordinate the new meeting time.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-sdr-rescheduled",
      "name": "Notify SDR - Rescheduled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        512
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Form Submission').item.json.body.sdrEmail }}",
        "subject": "=Meeting Rescheduled - {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }} at {{ $('Webhook - Form Submission').item.json.body.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #3498db;\">Meeting Rescheduled</h2>\n  <p>Hi {{ $('Webhook - Form Submission').item.json.body.sdrName }},</p>\n  <p>The following meeting has been <strong>rescheduled</strong>:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.companyName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>AE:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.aeName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>New Date:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.rescheduleDate || 'To be scheduled' }}</td></tr>\n  </table>\n  <p>Please coordinate the new meeting time.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai"
        }
      },
      "id": "gmail-email-sdr-rescheduled",
      "name": "Gmail - Email SDR - Rescheduled",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        512
      ],
      "webhookId": "6591fa10-dfa0-4d8d-ab93-1af402bfb5bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"sal_identified_need\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.identifiedNeed === 'Yes' ? 'true' : 'false' }}\",\n    \"sal_identified_decision_maker\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.decisionMaker === 'Yes' ? 'true' : 'false' }}\",\n    \"sal_next_step_commitment\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.nextStep === 'Yes' ? 'true' : 'false' }}\",\n    \"sal_decision\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.salDecision }}\",\n    \"sal_additional_attendees\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.additionalAttendees || '' }}\",\n    \"sal_qualification_notes\": \"{{ $('Webhook - Form Submission').item.json.body.formResponses.comments || '' }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-contact-full",
      "name": "Update Contact - Full Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        704
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Form Submission').item.json.body.formResponses.salDecision }}",
                    "rightValue": "Accept",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accept"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Form Submission').item.json.body.formResponses.salDecision }}",
                    "rightValue": "Reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Form Submission').item.json.body.formResponses.salDecision }}",
                    "rightValue": "Disqualify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disqualify"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-sal-decision",
      "name": "Switch - SAL Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1376,
        704
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $('Webhook - Form Submission').item.json.body.companyId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"sal_qualified\": \"true\",\n    \"sal_last_qualification_date\": \"{{ new Date().toISOString().split('T')[0] }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-company-accepted",
      "name": "Update Company - SAL Accepted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        608
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Lead Accepted as SAL\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Lead Accepted as SAL*\\n\\nContact: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}\\nEmail: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}\\nCompany: {{ $('Webhook - Form Submission').item.json.body.companyName }}\\nIndustry: {{ $('Webhook - Form Submission').item.json.body.industry }}\\n\\n*Qualification Details:*\\nIdentified Need: {{ $('Webhook - Form Submission').item.json.body.formResponses.identifiedNeed }}\\nDecision Maker: {{ $('Webhook - Form Submission').item.json.body.formResponses.decisionMaker }}\\nNext Step Agreed: {{ $('Webhook - Form Submission').item.json.body.formResponses.nextStep }}\\n\\nComments: {{ $('Webhook - Form Submission').item.json.body.formResponses.comments || 'None' }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-accept",
      "name": "Notify - Accepted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        608
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Form Submission').item.json.body.sdrEmail }}",
        "subject": "=SAL Accepted - {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }} at {{ $('Webhook - Form Submission').item.json.body.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #27ae60;\">SAL Accepted</h2>\n  <p>Hi {{ $('Webhook - Form Submission').item.json.body.sdrName }},</p>\n  <p>Great news! The following lead has been <strong>accepted</strong> as a Sales Accepted Lead:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.companyName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>AE:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.aeName }}</td></tr>\n  </table>\n  <h3 style=\"color: #333; margin-top: 20px;\">Qualification Summary</h3>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Identified Need:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.identifiedNeed }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Decision Maker:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.decisionMaker }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Next Step Commitment:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.nextStep }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Notes:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.comments || 'None' }}</td></tr>\n  </table>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai"
        }
      },
      "id": "gmail-email-sdr-accepted",
      "name": "Gmail - Email SDR - Accepted",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        608
      ],
      "webhookId": "62659a1d-39c9-4e44-b79d-f08ac9d8822a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Lead Rejected - Returned to SDR\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Lead Rejected - Returned to SDR*\\n\\nContact: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}\\nEmail: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}\\nCompany: {{ $('Webhook - Form Submission').item.json.body.companyName }}\\n\\nReason: {{ $('Webhook - Form Submission').item.json.body.formResponses.rejectReason || 'Not specified' }}\\n\\nThis lead has been returned for further nurturing.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-sdr-reject",
      "name": "Notify SDR - Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        752
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Form Submission').item.json.body.sdrEmail }}",
        "subject": "=Lead Rejected - {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }} at {{ $('Webhook - Form Submission').item.json.body.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #e67e22;\">Lead Rejected</h2>\n  <p>Hi {{ $('Webhook - Form Submission').item.json.body.sdrName }},</p>\n  <p>The following lead has been <strong>rejected</strong> and returned to you:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.companyName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>AE:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.aeName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Rejection Reason:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.rejectReason || 'Not specified' }}</td></tr>\n  </table>\n  <p>Please review and consider re-qualifying this lead.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai"
        }
      },
      "id": "gmail-email-sdr-rejected",
      "name": "Gmail - Email SDR - Rejected",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        752
      ],
      "webhookId": "7d5e3158-1064-4593-86cc-0f0afa356253",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Lead Disqualified\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Lead Disqualified*\\n\\nContact: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}\\nEmail: {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}\\nCompany: {{ $('Webhook - Form Submission').item.json.body.companyName }}\\n\\nNotes: {{ $('Webhook - Form Submission').item.json.body.formResponses.comments || 'None' }}\\n\\nThis lead has been disqualified.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-sdr-disqualify",
      "name": "Notify SDR - Disqualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        912
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Form Submission').item.json.body.sdrEmail }}",
        "subject": "=Lead Disqualified - {{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }} at {{ $('Webhook - Form Submission').item.json.body.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #e74c3c;\">Lead Disqualified</h2>\n  <p>Hi {{ $('Webhook - Form Submission').item.json.body.sdrName }},</p>\n  <p>The following lead has been <strong>disqualified</strong>:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Contact:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.contacts[0].contactEmail }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.companyName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>AE:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.aeName }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #eee;\"><strong>Notes:</strong></td><td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Webhook - Form Submission').item.json.body.formResponses.comments || 'None' }}</td></tr>\n  </table>\n  <p>This lead has been marked as disqualified in HubSpot.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai"
        }
      },
      "id": "gmail-email-sdr-disqualified",
      "name": "Gmail - Email SDR - Disqualified",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        912
      ],
      "webhookId": "f6e12559-936d-46fc-8fef-930a20e4c778",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"decision\": $('Webhook - Form Submission').item.json.body.formResponses.salDecision, \"meetingHeld\": $('Webhook - Form Submission').item.json.body.formResponses.meetingHeld } }}",
        "options": {}
      },
      "id": "respond-webhook-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2272,
        512
      ]
    }
  ],
  "connections": {
    "Webhook - Form Submission": {
      "main": [
        [
          {
            "node": "Update Company - Basic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company - Basic": {
      "main": [
        [
          {
            "node": "Update Contact - Basic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact - Basic": {
      "main": [
        [
          {
            "node": "IF - Meeting Not Held",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Meeting Rescheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Meeting Not Held": {
      "main": [
        [
          {
            "node": "Prepare Contacts Batch - No Show",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Contact - Full Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contacts Batch - No Show": {
      "main": [
        [
          {
            "node": "Update Contacts - No Show",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contacts - No Show": {
      "main": [
        [
          {
            "node": "Notify SDR - Meeting Not Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Meeting Rescheduled": {
      "main": [
        [
          {
            "node": "Notify SDR - Rescheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SDR - Meeting Not Held": {
      "main": [
        [
          {
            "node": "Gmail - Email SDR - No Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email SDR - No Meeting": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SDR - Rescheduled": {
      "main": [
        [
          {
            "node": "Gmail - Email SDR - Rescheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email SDR - Rescheduled": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact - Full Qualification": {
      "main": [
        [
          {
            "node": "Switch - SAL Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - SAL Decision": {
      "main": [
        [
          {
            "node": "Update Company - SAL Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify SDR - Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify SDR - Disqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company - SAL Accepted": {
      "main": [
        [
          {
            "node": "Notify - Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify - Accepted": {
      "main": [
        [
          {
            "node": "Gmail - Email SDR - Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email SDR - Accepted": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SDR - Rejected": {
      "main": [
        [
          {
            "node": "Gmail - Email SDR - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email SDR - Rejected": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SDR - Disqualified": {
      "main": [
        [
          {
            "node": "Gmail - Email SDR - Disqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email SDR - Disqualified": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
