n8n-workflow-1-send-form.json
{
  "name": "SAL Form - Send to AE (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sal-form-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Trigger SAL Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "sal-form-trigger"
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/companies/{{ $json.body[0].objectId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "name,domain,hubspot_owner_id,lead_source,sdr_owner,ae_owner,sal_last_meeting_record_id"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-company",
      "name": "HTTP - Get Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/meetings/{{ $json.properties.sal_last_meeting_record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "hs_meeting_title,hs_attendee_owner_ids,hs_guest_emails,hubspot_owner_id,hs_meeting_start_time"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-meeting",
      "name": "HTTP - Get Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        704,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/objects/meetings/{{ $json.id }}/associations/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "http-get-contact-associations",
      "name": "HTTP - Get Contact Associations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        928,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubspot.com/crm/v3/objects/contacts/batch/read",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": [\"firstname\", \"lastname\", \"email\"],\n  \"inputs\": {{ JSON.stringify($json.results.map(r => ({ \"id\": r.id }))) }}\n}",
        "options": {}
      },
      "id": "http-get-contact-details",
      "name": "HTTP - Get Contact Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1152,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/owners/{{ $node[\"HTTP - Get Company\"].json.properties.ae_owner || $node[\"HTTP - Get Company\"].json.properties.hubspot_owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "http-get-ae-owner",
      "name": "HTTP - Get AE Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubspot.com/crm/v3/owners/{{ $node[\"HTTP - Get Company\"].json.properties.sdr_owner || $node[\"HTTP - Get Company\"].json.properties.hubspot_owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "http-get-sdr-owner",
      "name": "HTTP - Get SDR Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        304
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Ic8seJpUK2XUSDQY",
          "name": "Reindeer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const company = $node[\"HTTP - Get Company\"].json;\nconst meeting = $node[\"HTTP - Get Meeting\"].json;\nconst contactsData = $node[\"HTTP - Get Contact Details\"].json;\nconst aeOwner = $node[\"HTTP - Get AE Owner\"].json;\nconst sdrOwner = $input.first().json;\n\nlet meetingDate = \"\";\nif (meeting.properties.hs_meeting_start_time) {\n  try {\n    const date = new Date(meeting.properties.hs_meeting_start_time);\n    meetingDate = date.toLocaleDateString(\"en-US\", {\n      weekday: \"long\",\n      year: \"numeric\",\n      month: \"long\",\n      day: \"numeric\",\n      hour: \"2-digit\",\n      minute: \"2-digit\"\n    });\n  } catch (e) {\n    meetingDate = meeting.properties.hs_meeting_start_time;\n  }\n}\n\n// Build contacts array from batch read results\nconst contacts = (contactsData.results || []).map(contact => {\n  const contactName = `${contact.properties.firstname || \"\"} ${contact.properties.lastname || \"\"}`.trim() || \"Unknown\";\n  return {\n    contactId: contact.id,\n    contactName: contactName,\n    contactEmail: contact.properties.email || \"\"\n  };\n});\n\n// Meeting-based AE routing\nconst meetingHost = meeting.properties.hubspot_owner_id || \"\";\nconst attendeeIds = (meeting.properties.hs_attendee_owner_ids || \"\").split(\";\").map(id => id.trim()).filter(Boolean);\nconst allParticipantIds = [meetingHost, ...attendeeIds];\n\nconst YOAV_IDS = [\"76222677\", \"75650460\"];\nconst YAIR_IDS = [\"76301426\", \"75813016\"];\nconst SDR_IDS = [\"87078486\", \"76139933\", \"75629883\"];\n\nlet aeName, aeEmail, aeOwnerId;\n\nif (YOAV_IDS.some(id => allParticipantIds.includes(id))) {\n  aeName = \"Yoav Naveh\";\n  aeEmail = \"yoav@reindeer.ai\";\n  aeOwnerId = \"76222677\";\n} else if (YAIR_IDS.some(id => allParticipantIds.includes(id))) {\n  aeName = \"Yair Weinberger\";\n  aeEmail = \"yair@reindeer.ai\";\n  aeOwnerId = \"76301426\";\n} else if (aeOwner && aeOwner.email && !SDR_IDS.includes(aeOwner.id)) {\n  aeName = `${aeOwner.firstName || \"\"} ${aeOwner.lastName || \"\"}`.trim() || \"Unknown AE\";\n  aeEmail = aeOwner.email;\n  aeOwnerId = aeOwner.id || \"\";\n} else {\n  aeName = \"Idan Ron\";\n  aeEmail = \"idan.ron@reindeerlabs.ai\";\n  aeOwnerId = \"86787169\";\n}\n\nconst sdrName = sdrOwner ? `${sdrOwner.firstName || \"\"} ${sdrOwner.lastName || \"\"}`.trim() : \"Unknown SDR\";\nconst sdrEmail = sdrOwner ? sdrOwner.email : \"\";\n\nconst formData = {\n  companyId: company.id,\n  companyName: company.properties.name || \"Unknown\",\n  companyDomain: company.properties.domain || \"\",\n  source: company.properties.lead_source || \"\",\n  meetingId: meeting.id,\n  meetingTitle: meeting.properties.hs_meeting_title || \"\",\n  meetingDate: meetingDate,\n  contacts: contacts,\n  aeName: aeName,\n  aeEmail: aeEmail,\n  aeOwnerId: aeOwnerId,\n  sdrName: sdrName,\n  sdrEmail: sdrEmail,\n  sdrOwnerId: sdrOwner ? sdrOwner.id : \"\",\n  additionalAttendeeOwnerIds: meeting.properties.hs_attendee_owner_ids || \"\",\n  guestEmails: meeting.properties.hs_guest_emails || \"\"\n};\n\nconst token = Buffer.from(JSON.stringify(formData)).toString(\"base64\");\nconst formUrl = `https://sal-qualification-form.vercel.app?token=${token}`;\n\nreturn {\n  json: {\n    ...formData,\n    token: token,\n    formUrl: formUrl\n  }\n};"
      },
      "id": "code-prepare-form-data",
      "name": "Code - Prepare Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.aeEmail }}",
        "subject": "=SAL Qualification Form - {{ $json.contacts.map(c => c.contactName).join(', ') }} at {{ $json.companyName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #333; margin-bottom: 20px;\">SAL Qualification Form</h2>\n  <p style=\"color: #555; font-size: 16px;\">Hi {{ $json.aeName }},</p>\n  <p style=\"color: #555; font-size: 16px;\">Please complete the SAL qualification form for your recent meeting:</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background: #f9f9f9; border-radius: 8px;\">\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Contacts:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.contacts.map(c => c.contactName).join(', ') }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Company:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.companyName }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\"><strong>Meeting:</strong></td>\n      <td style=\"padding: 12px 16px; border-bottom: 1px solid #eee;\">{{ $json.meetingTitle }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 12px 16px;\"><strong>Date:</strong></td>\n      <td style=\"padding: 12px 16px;\">{{ $json.meetingDate }}</td>\n    </tr>\n  </table>\n  <p style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $json.formUrl }}\" style=\"background-color: #4CAF50; color: white; padding: 14px 28px; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: bold; display: inline-block;\">Complete SAL Form</a>\n  </p>\n  <p style=\"color: #999; font-size: 12px; margin-top: 30px; text-align: center;\">This is an automated message from the SAL Qualification System.</p>\n</div>",
        "options": {
          "appendAttribution": false,
          "bccList": "idan.ron@reindeerlabs.ai, galia.n@reindeer.ai"
        }
      },
      "id": "gmail-send-to-ae",
      "name": "Gmail - Send to AE",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        304
      ],
      "webhookId": "0a50ebdf-d916-4e1c-835d-f86ac4949987",
      "credentials": {
        "gmailOAuth2": {
          "id": "ieIscLrrOVlYcwBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Form sent to AE\", aeEmail: $json.aeEmail, aeName: $json.aeName }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2272,
        304
      ]
    }
  ],
  "connections": {
    "Webhook - Trigger SAL Form": {
      "main": [
        [
          {
            "node": "HTTP - Get Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Company": {
      "main": [
        [
          {
            "node": "HTTP - Get Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Meeting": {
      "main": [
        [
          {
            "node": "HTTP - Get Contact Associations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Contact Associations": {
      "main": [
        [
          {
            "node": "HTTP - Get Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Contact Details": {
      "main": [
        [
          {
            "node": "HTTP - Get AE Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get AE Owner": {
      "main": [
        [
          {
            "node": "HTTP - Get SDR Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get SDR Owner": {
      "main": [
        [
          {
            "node": "Code - Prepare Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Form Data": {
      "main": [
        [
          {
            "node": "Gmail - Send to AE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send to AE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
